@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-a5hlmt');
	src:url('fonts/icomoon.eot?#iefix-a5hlmt') format('embedded-opentype'),
		url('fonts/icomoon.woff?-a5hlmt') format('woff'),
		url('fonts/icomoon.ttf?-a5hlmt') format('truetype'),
		url('fonts/icomoon.svg?-a5hlmt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
	content: "\e600";
}
.icon-stack:before {
	content: "\e601";
}
.icon-user:before {
	content: "\e602";
}
.icon-hammer:before {
	content: "\e604";
}
.icon-office:before {
	content: "\e609";
}
.icon-bubble:before {
	content: "\e60b";
}
.icon-phone:before {
	content: "\e60a";
}
.icon-bubbles:before {
	content: "\e60e";
}
.icon-bubble2:before {
	content: "\e618";
}
.icon-bubbles2:before {
	content: "\e619";
}
.icon-box-add:before {
	content: "\e61a";
}
.icon-bubbles3:before {
	content: "\e61b";
}
.icon-bubbles4:before {
	content: "\e61c";
}
.icon-files:before {
	content: "\e605";
}
.icon-trashcan:before {
	content: "\e606";
}
.icon-cogs:before {
	content: "\e607";
}
.icon-calendar:before {
	content: "\e603";
}
.icon-calendar2:before {
	content: "\e608";
}
.icon-direction:before {
	content: "\e60c";
}
.icon-mail:before {
	content: "\e60d";
}
.icon-book:before {
	content: "\e60f";
}
.icon-arrow-right:before {
	content: "\e610";
}
.icon-home:before {
	content: "\e611";
}
.icon-location:before {
	content: "\e612";
}
.icon-download:before {
	content: "\e61d";
}
.icon-tag:before {
	content: "\e613";
}
.icon-envelope:before {
	content: "\e61e";
}
.icon-hand-down:before {
	content: "\e614";
}
.icon-folder-open:before {
	content: "\e615";
}
.icon-folder-open-alt:before {
	content: "\e616";
}
.icon-docs:before {
	content: "\e617";
}
