/**
 * CSS style for itchefer.dk bootstrap subtheme. 
 */
/***** Kommunue & projekter ****/
.group_page_first_row, .group_page_2_row {
  width: 100%;
  margin-bottom: 15px;
}
.group_page_first_row {
  min-height: 120px;
  border-bottom: 2px solid #e3e3e3;
}
.group_page_2_row {
  min-height: 170px;
}
.group_page_right {
  color: #333;
}
.group_page_description .field-name-body .field-items {
  padding-left: 15px;
  padding-right: 15px;
}
.group_page_logo_left, .group_page_left {
  padding-left: 15px;
}
h2.title.comment-form,
#comments h2.title,
.location-locations-header,
.group_block_title,
#block-views-projekter-block-1 .block-title, .group_page_description .field-name-body .field-label,#block-views-projekter-block-2 .block-title {
  padding: 8px 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #bbd248;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0;
}
#block-views-projekter-block-1, #block-views-projekter-block-2 {
  margin-top: 20px;
}
#edit-field-projektomr-de-wrapper {
  max-width:30%;
}
.more-link,.project_title {
  background: #f5f5f5;
  padding: 2px 10px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
.top_space {
  margin-bottom: 10px;
}
.more-link {
  float: right;
  margin-top: 20px;
}
.project_teaser {
  padding: 8px 15px;
}
.kommune_links a {
  color: #bbd248;
  font-size: 14px;
  font-weight: bold;
}
.views-exposed-form {
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 20px;
}
.view-projekter {
  padding: 0 15px;
}
.view-id-group .field-label-inline .field-label,
.view-id-group .field-label-inline .field-items {
  float: none;
}
.view-id-group .user-picture, .view-id-group .location-locations-header,
.view-id-group .location-locations-wrapper {
  display: none;
}
/* Arrangement / events */
.event_page_left {
  padding: 20px 20px;
  font-size: 16px;
  color: #bbd248;
  font-weight: bold;
}
/* Opslagstavle */
.author_date ul{
  display: inline;
}
.author_date {
  border-bottom: 3px solid #e3e3e3;
}
.author_date .list-inline li {
  padding: 0;
}
/* Tags, taxonomy */
.field-name-field-tag {
  display: inline-block;
}
.field-name-field-tag .field-item {
  display: inline;
  margin-right: 5px;
}
.field-name-field-tags {
  display: inline-block;
  margin-left: 5px;
  font-size: 15px;
}
.field-name-field-tags .field-item {
  display: inline;
  margin-right: 5px;
}
/* Locations */
.group_page_right .location .adr div.street-address,
.group_page_right .location .adr .postal-code,
.group_page_right .location .location.map-link {
  margin-left: 22px;
}
/* system navigation, menu */
#block-system-navigation li.leaf.active-trail{
  font-weight: bold;
}
.block-menu-block .nav>li>a {
  padding: 0;
  border-bottom: 1px solid #e3e3e3;
}
#block-block-9 {
  margin-bottom: 30px;
}
.view-id-taxonomy_term {
  padding-top : 10px;
}
.block-menu-block .nav>li>a.active {
  color: #fff;
  background-color: #bbd248;
}
ul.sub_menu3,
ul.sub_menus {
  display: none;
}
.action-links li,
.form-item-recipient ul {
  list-style: none;
}
.not-logged-in #signup-form {
  display: none;
  visibility: hidden;
}
#block-block-4 {
  border: 1px solid #c8cc93;
  padding: 10px;
  margin-top: 30px;
}
#overlay input.text-full {
  width: 60%;
}
/* Body design */
body {
  background-color:#f3f3f3 !important;
}
body.not-front .region-content, body p {
  font-size: 12px;
}
body h1 {
  font-size: 22px !important;
}
body h2 {
  font-size: 18px
}
body h3 {
  font-size: 15px;
}
.view-search-user h3 {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 15px;
  font-size: 20px;
}
.view-search-user h3 a {
  color: #bbd248;
}
.main-container .btn {
  padding: 2px 12px !important;
  background-color: #4b4b4a !important;
  border-color: #4b4b4a !important;
  color: #fff !important;
}
.row .page-header {
  border-bottom: 5px solid #bbd248;
}
.main-container {
  background-color:#fff;
  padding-bottom: 45px;
}
.not-front .region-content {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 5px 10px;
}
.btn a {
  color: #fff;
}
body caption a,
.itchefer-green,
.itchefer-green a {
  color: #bbd248;
}
#signup-form .btn,
.cancel-signup {
  margin-bottom: 30px;
  margin-top: 30px;
}
.logo.navbar-btn {
  margin: 0 0 ;
}
#slogan .lead {
  margin-top: 75px;
  color: #fff;
}
#navbar {
  margin-bottom: 30px !important;
}
body .view .date-nav-wrapper .date-nav {
  max-height: 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body .pager li>a {
  padding: 2px 4px;
  border-radius : 8px;
  border: 1px solid #4b4b4a;
}
.field-type-file .field-items .file img {
  width: inherit !important;
}
/** Link **/
body a.active {
  font-weight: bold;
}
body a {
  color: #666666;
}
.second .block a,
.front .main-container a {
  color: #666666;
}
.front .main-container a:hover {
  color: #666;
}
/* Header */
.front #page-header {
  margin-left: -70px;
  margin-right:-70px;
  margin-top: -30px;
  position: relative;
}
.block .views-row {
  border: none;
}
.block .views-field-field-front-slide-text {
  position: absolute;
  top: 160px;
  font-weight: bold;
  left: 70px;
  background-color: #fff;
  opacity: 0.6;
  width: 50%;
  height: 70px;
  font-size: 17px;
}
/* Frontpage */
.frontslide-text {
  padding: 15px;
}
#block-block-5,#block-views-arrangementer-block-1 {
  color: #534f4d;
  padding: 15px;
  border: 1px solid #c8cc93;
/*  border-radius: 7px;*/
  height: 150px;
  background: url('../images/conference.png') 95% 4% no-repeat;
  background-size: 60px;
  margin-top: 20px;
}
#block-views-arrangementer-block-2 {
  color: #534f4d;
  padding: 15px;
  border: 1px solid #c8cc93;
  /*border-radius: 7px;*/
  min-height: 150px;
  margin-top: 20px;
  background: url('../images/calendar.png') 95% 4% no-repeat;
  background-size: 60px;
}
.not-front #block-views-arrangementer-block-2 {
  min-height: 150px;
}
#block-views-kita-magasinet-block {
  color: #534f4d;
  padding: 15px;
  border: 1px solid #c8cc93;
  /*border-radius: 7px;*/
  height: 150px;
  margin-top: 20px;
  background: url('../images/file.png') 95% 4% no-repeat;
  background-size: 60px;
}
#block-views-nyhedsbrev-block-1 {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 20px;
  background: url('../images/newsletter.png') 0% 0% no-repeat;
  background-size: 117px;
  min-height: 120px;
}
#block-views-nyhedsbrev-block-1 h2.block-title {
  opacity:0;
  width: 0px;
  float: left;
}
#block-views-calendar-block-1 {
  margin-top: 25px;
  border: 1px solid #c8cc93;
  padding: 15px;
  background-color:#f5f5f5;
}
.main-container h2 {
  margin-top:0px;
}
.front .page-header, #first-time {
  display: none;
}
.front .view-nyhedsbrev {
  position: absolute;
}
.view-id-nyhedsbrev .more-link {
  position: absolute;
  bottom: -40px;
  right: 0px;
  font-weight: bold;
}
/* End of frontpage */
.view-display-id-page .views-row{
  margin-bottom: 25px; 
}
.view-display-id-page .views-field-title-1 {
  text-align: right;
}
body .navbar.container {
  margin-top:0px;
}
.region-sidebar-first {
  position:relative;
}
#block-views-min-side-block {
  position: absolute;
  left: 15px;
  bottom: 210px;
}
#block-views-min-side-block a {
  color: #000
}
#block-system-navigation,
.region-sidebar-first .block-menu {
  background: -webkit-linear-gradient(#caca57, #caca57); /* For Safari */
  background: -o-linear-gradient(#caca57, #caca57); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#caca57, #caca57); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#caca57, #caca57); /* Standard syntax (must be last) */
  background-color: #caca57;
}
#block-system-navigation {
  padding-bottom: 20px;
}
#block-menu-menu-om-foreningen {
  padding-bottom: 20px;
}
.region-sidebar-first .block-menu h2 {
  color: #fff;
  padding-left:15px;
  padding-top: 25px;
  font-weight: bold;
  font-size: 14px;
}
.region-sidebar-first .block-menu .nav>li>a {
  padding: 2px 0px 0px 15px;
  color: #000;
}
.region-content .date-prev {
  left :0 !important;
  right: auto !important;
}
/* User */
.view-search-user {
  position: relative;
}
.view-search-user .feed-icon {
  position: absolute;
  top: 120px;
  right: 0;  
}
.region-content h5, .group_page_right h5 {
  color: #bbd248;
  font-weight: bold;
  font-size: 20px;
}
.group_page_right h6 {
  font-size: 12px;
  font-weight: bold;
}
h5 a, .group_page_right h5 a, .group_page_right h6 a {
  color: #bbd248;
}
.field-name-field-recruitment-function, .location-locations-wrapper{
  padding-left: 15px;
}
/** Forum **/
.forum-table-topics td.views-field-topic-icon {
  width: 30px;
}
.forum-post-panel-sub {
  float: none;
}
.forum-post-panel-main {
  margin-left: 0px;
}
.forum-list-icon-wrapper span {
  background-size: 20px 20px !important;
  height: 30px;
  width: 30px;
}
.icon-folder-open-alt,
.icon-folder-open {
  color: #777;
  font-size: 20px;
  line-height: 2 !important;
}
.forum-topic-legend div {
  clear: none;
  margin-right: 0;
  width: 50%;
}
.topic-icon-sticky {
  display: none !important;
  visibility: hidden;
}
body .forum-tools {
  float: none;
  margin-bottom: 10px;
}
.forum-post-panel-main {
  min-height: 50px !important;
}
#forum-comments .forum-post,
.node .submitted {
  border-top: 1px solid #e3e3e3;
  font-style: normal;
  padding-top: 10px;
  margin-top: 30px;
}
.forum-table-wrap {

}
.forum-table-superheader {
  background-color: #f5f5f5;
}
.forum-table thead a {
  color: #bbd248;
  
}
.forum-table thead,
.forum-header {
  background-color: #f5f5f5;
  color: #bbd248;
  font-weight: bold;
  font-size: 14px;
  line-height: 35px;
}
.forum-details {
  width: 20%;
}
.forum-table tr {
  line-height: 2;
  min-height: 70px;
}
.forum-table tr,
.forum-row {
  border-bottom: 3px solid #f5f5f5;
}
.forum-table,
#forum-statistics {
  width: 100%;
}
.forum-node-create-links {
  float: none;
  margin: 10px 0px;
  font-size: 14px;
}
.forum-node-create-links .forum-add-node {
  float: none;
  display: inline-block;
  margin-right: 0px;
  padding: 20px 0;
}
.forum-node-create-links-top {
  padding: 0px;
}
.forum-node-create-links-top .forum-add-node {
  padding: 0;
}
.forum-table thead,
.view-content tr.even,
#forum-statistics-header {
 
}
#forum-statistics-active-body {
  background-color:  #dfdfdf;
}
#forum-statistics-statistics-body {
  background-color:  #dfdfdf;
}
.forum-post-info .forum-post-links,
#forum-comments .forum-post-links {
  margin: 0;
  line-height: inherit;
}


/* End of Forum */
/* Field-collection */
.field-collection-container {
  border: none !important;
}
.page-node .field-collection-view .field-label {
  min-width: 60%;
}
/* logo*/
.navbar-header {
  float: none !important;
  height: 116px;
}
html .navbar-default {
  background-color: #4b4b4a;
  border: none;
  border-radius: 0px;
}

/* Main menu */
#navbar .navbar-nav>li>a {
  padding: 5px 15px !important;
  color: #fff;
}
#navbar .navbar-nav>li>a.active {
  font-weight: bold;
  background-color: #bbd248;
}
#navbar .navbar-nav>li>a:hover {
  color: #000;
}
/** content unpublished **/
.node-unpublished {
  background-color: #f5f5f5;
}
/* flag (Like) */
.flag-wrapper {
  display: inline-block;
  width: 100%;
  text-align: right;
}
a.unflag-action, a.flag-action {
  background-image: url('../images/thumbsup.png');
  background-repeat: no-repeat;
  background-position: 100% 70%;
  padding-right: 20px;
  background-size: 15px 12px;
}
.like-numbers {
  display: inline-block;
  margin-left: 3px;
  position: relative;
  background: #eeeeee;
  border: 1px solid #dddddd;
}
.like-numbers:after, .like-numbers:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.like-numbers:after {
  border-color: rgba(238, 238, 238, 0);
  border-right-color: #eeeeee;
  border-width: 5px;
  margin-top: -5px;
}
.like-numbers:before {
  border-color: rgba(221, 221, 221, 0);
  border-right-color: #dddddd;
  border-width: 6px;
  margin-top: -6px;
}
.like-numbers a {
  font-size: 11px;
  line-height: 17px;
  padding: 4px 6px;
  color: #aaa;
}
/* Comment */
.comment-form .panel-default {
  display: none;
}
.submitted {
  position: relative;
}
.comment ul.links.list-inline {
  top: 10px;
  position: absolute;
  right: 15px;
}
#forum-comments .indented,
#comments .indented {
  padding-left: 10%;
}
/* images*/
.field-name-body .field-items img {
  width: 100% !important;
}
.node .content .field-item img {
  height: inherit;
  width: 100%;
}
.footer {
  background: url('../images/footer.png') 100% 100% no-repeat #fff;
  margin-top:0px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #e5e5e5;
}
#backtotop {
  background-size: 65%;
  bottom: 135px;
}
/* Sign up*/
.logged-in form#signup-form .form-item-email-address {
  display: none;
}
.node-event-signup .field-name-field-event-node-id {
  font-size: 18px;
  padding: 20px 20px;
}
.node-event-signup .field-name-field-event-node-id .field-items a {
  color: #bbd248;
}
.node-event-signup .field-name-field-signup-user {
  padding: 20px 20px;
}
/* Form */
.col-sm-6 .ctools-jump-menu-select {
  padding : 0 0;
  width: initial !important;
}
#edit-field-file-path-und {
  height: 200px;
}
#edit-title-wrapper,
#edit-city-wrapper,
#edit-type-1-wrapper,
.views-submit-button {
  width: 25%;
}
#privatemsg-list-form #edit-operation {
  width: inherit;
}
/** table  **/
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 5px !important;
}
/* Document page */
.page-dokumenter .view-dokumenter .views-exposed-form .views-widget-filter-filename, .page-dokumenter .view-dokumenter .views-exposed-form .views-widget-filter-field_file_path_tid {
  width: 40%;
}
.page-dokumenter .view-dokumenter .views-exposed-form .views-submit-button {
  width: 10%;
}

/* print and send */
.region-content label.printmail-label {
  float: none;
}

